In [4]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

nav = webdriver.Chrome()

#pesquisar cotação dolar
nav.get("https://www.google.com.br/")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = nav.find_element_by_xpath('/html/body/div[7]/div/div[9]/div[1]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div[1]/div/div[1]/div[1]/div[2]/span[1]').get_attribute('data-value') 
print(cotacao_dolar)
nav.get("https://www.google.com.br/")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = nav.find_element_by_xpath('/html/body/div[7]/div/div[9]/div[1]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div[1]/div/div[1]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)
nav.get("https://www.melhorcambio.com/")
aba_original = nav.window_handles[0]
nav.find_element_by_xpath('/html/body/div[15]/div[2]/div/table[2]/tbody/tr[2]/td[2]/a/img').click()
aba_nova = nav.window_handles[1]
nav.switch_to.window(aba_nova)
cotacao_ouro = nav.find_element_by_id('comercial').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",",".")
print(cotacao_ouro)

nav.quit()

import pandas as pd

produtos_df = pd.read_excel("Produtos.xlsx")
display(produtos_df)

produtos_df.loc[produtos_df['Moeda']=="Dólar","Cotação"] = float(cotacao_dolar)
produtos_df.loc[produtos_df['Moeda']=="Euro","Cotação"] = float(cotacao_euro)
produtos_df.loc[produtos_df['Moeda']=="Ouro","Cotação"] = float(cotacao_ouro)

produtos_df['Preço Base Reais'] = produtos_df['Cotação'] * produtos_df['Preço Base Original']
produtos_df['Preço Final'] = produtos_df['Ajuste'] * produtos_df['Preço Base Reais']
display(produtos_df)

produtos_df.to_excel("Produtos Atualizados.xlsx", index=False)

5.06108
6.005857109000001
290.65

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.061080,5061.029389,1.40,7085.441145
1,Carro Renault,4500.00,Euro,6.005857,27026.356991,2.00,54052.713981
2,Notebook Dell,899.99,Dólar,5.061080,4554.921389,1.70,7743.366362
3,IPhone,799.00,Dólar,5.061080,4043.802920,1.70,6874.464964
4,Carro Fiat,3000.00,Euro,6.005857,18017.571327,1.90,34233.385521
5,Celular Xiaomi,480.48,Dólar,5.061080,2431.747718,2.00,4863.495437
6,Joia 20g,20.00,Ouro,290.650000,5813.000000,1.15,6684.950000

In [2]:
import pandas as pd

produtos_df = pd.read_excel("Produtos.xlsx")
display(produtos_df)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [3]:
produtos_df.loc[produtos_df['Moeda']=="Dólar","Cotação"] = float(cotacao_dolar)
produtos_df.loc[produtos_df['Moeda']=="Euro","Cotação"] = float(cotacao_euro)
produtos_df.loc[produtos_df['Moeda']=="Ouro","Cotação"] = float(cotacao_ouro)

produtos_df['Preço Base Reais'] = produtos_df['Cotação'] * produtos_df['Preço Base Original']
produtos_df['Preço Final'] = produtos_df['Ajuste'] * produtos_df['Preço Base Reais']
display(produtos_df)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.048400,5048.349516,1.40,7067.689322
1,Carro Renault,4500.00,Euro,5.978679,26904.054438,2.00,53808.108876
2,Notebook Dell,899.99,Dólar,5.048400,4543.509516,1.70,7723.966177
3,IPhone,799.00,Dólar,5.048400,4033.671600,1.70,6857.241720
4,Carro Fiat,3000.00,Euro,5.978679,17936.036292,1.90,34078.468955
5,Celular Xiaomi,480.48,Dólar,5.048400,2425.655232,2.00,4851.310464
6,Joia 20g,20.00,Ouro,288.250000,5765.000000,1.15,6629.750000

In [1]:
produtos_df.to_excel("Produtos Atualizados.xlsx", index=False)

NameError: name 'produtos_df' is not defined